.hero-section{
    background: url(../../images/slider/slider-bg.jpg) no-repeat center center;
  background-size: cover;
}
.hero-font-size{
    font-size: 60px;
}
.font{
    /* font-size: 70px; */
}
.img-size{
    /* height: 500px; */
}