footer{
    color: #C1C7CE;
}
.footer-main{
    background-color: rgb(106, 106, 106);
}
.footer-icn-font{
    font-size: 50px;
    color: rgb(202, 202, 202);
}
.footer-title-color{
    color: #fdffff;
}