.App{
    font-family: 'Quicksand', sans-serif;
}
.bg-eee{
    background-color: #EEEEEE;
}
.custom-btn{
    background-color: #e91e63;
    border: none;
    color: white;
}
.custom-btn:hover{
    background-color: #222222;
    color: white;
}
.custom-btn2{
    border: 1px solid #222222;
    background-color: white;
    color: #222222 !important;
}
.custom-btn2:hover{
    border: 1px solid #222222;
    background-color: #222222;
    color: white !important;
}
.custom-btn3{
    border: none;
    background-color: #222222;
    color: white !important;
}
.primary-text{
    color: #e91e63;
}
.fredoka-font{
    font-family: 'Fredoka One', cursive;
}

/*
font-family: 'Fredoka One', cursive;
font-family: 'Quicksand', sans-serif;
1 = #e91e63
*/